body {
    background: url(blue_stars_background.jpg);
    background-size: cover;
}

p{
    text-align: center;
}

.main {
    height: 100%;
    color: #1111ff;
    font-family: 'Balsamiq Sans', cursive;
    font-size: xx-large;
    font-weight: bolder;
}

.header {
    height: 20vh;
}

.content {
    height: 80vh;
    padding-top: 50px;
}

.box {
    height: 450px ;
    width : 90%;
    border: black solid 2px;
    border-radius: 20px;
    background: wheat;
    margin: auto;
}

.container {
    padding-top: 30px;
    margin: auto;
    font-size: large;
}

.neon {
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
  }

